<div class="container">
  {{#if currentUser}}
    <a href="/events/new">Create new event</a>
  {{/if}}
  <p>{{title}}</p>
  <div class="row align-items-center">
    {{#each events}}
      <div class="col mt-3">
        {{> event}}
      </div>
    {{/each}}
  </div>
</div>
